<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Author</th>
                <th class="text-center col-2">Published</th>
                <th class="col-5">Description</th>
                <th class="text-center col-1">Price</th>
            </tr>
            <% for(let count=0;count<BookList.length;count++) { %>
            <tr class="d-flex">
                <td class="text-center col-2"><%= BookList[count].Name %></td>
                <td class="text-center col-2"><%= BookList[count].Author %></td>
                <td class="text-center col-2"><%= BookList[count].Published %></td>
                <td class="col-5"><%= BookList[count].Description %></td>
                <td class="text-center col-1"><%= BookList[count].Price %></td>
            </tr>
            <% } %>
        </table>
        </div>
    </div>
</main> 
<%- include Partials/footer.ejs %>